<form [formGroup]="entryForm" (ngSubmit)="onSaveChange()">
  <div class="input-form">
    <label for="password">رمز عبور: </label>
    <input type="password" formControlName="password" id="password">
    <p class="error" *ngIf="entryForm.get('password')?.hasError('required')">رمز عبور الزامی است</p>
    <p class="error" *ngIf="entryForm.get('password')?.hasError('pattern')">رمز عبور باید 8 کارکتر از عدد و حروف باشد</p>
  </div>
  <div>
    <button class="btn btn-secondary btn-sm" type="submit" [disabled]="!entryForm.valid">ذخیره</button>
  </div>
</form>